@font-face {
  font-family: "iconfont"; /* Project id 2705091 */
  src: url('iconfont.woff2?t=1627897091803') format('woff2'),
       url('iconfont.woff?t=1627897091803') format('woff'),
       url('iconfont.ttf?t=1627897091803') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cha1:before {
  content: "\e633";
}

.icon-xiangji:before {
  content: "\e639";
}

.icon-location:before {
  content: "\e61e";
}

.icon-cuowu:before {
  content: "\e646";
}

.icon-shijian:before {
  content: "\e714";
}

.icon-dingwei:before {
  content: "\e67e";
}

.icon-time:before {
  content: "\e62b";
}

.icon-bars:before {
  content: "\e69b";
}

.icon-shaixuan:before {
  content: "\e68a";
}

.icon-shaixuan1:before {
  content: "\f2c2";
}

.icon-todo-list:before {
  content: "\e6b7";
}

.icon-todo-list-o:before {
  content: "\e6bb";
}

.icon-wodexuanzhong-copy:before {
  content: "\e6bc";
}

.icon-wode-copy:before {
  content: "\e6bd";
}

.icon-wodexuanzhong:before {
  content: "\e624";
}

.icon-xiaoxi:before {
  content: "\e628";
}

.icon-tansuo:before {
  content: "\e622";
}

.icon-tansuoxuanzhong:before {
  content: "\e621";
}

.icon-add-square:before {
  content: "\e693";
}

.icon-add:before {
  content: "\e694";
}

.icon-add-o:before {
  content: "\e695";
}

.icon-arrow-left:before {
  content: "\e696";
}

.icon-arrow:before {
  content: "\e697";
}

.icon-arrow-up:before {
  content: "\e698";
}

.icon-arrow-down:before {
  content: "\e699";
}

.icon-back-top:before {
  content: "\e69a";
}

.icon-contact:before {
  content: "\e69d";
}

.icon-cross:before {
  content: "\e69e";
}

.icon-friends:before {
  content: "\e6a4";
}

